In [37]:
import numpy as np
import array


# prompt: crea una matriz de 3x3 como un array f de 9 elementos diferentes
f = array.array('f', [1, 2.14, 3, 4,  float('inf'), 6, 7, 8, 9])

# Extraer los elementos para formar la matriz
i1 = f[:3]
i2 = f[3:6]
i3 = f[6:]

#  matriz con las filas
mat = np.array([i1, i2, i3])

mat

array([[1.  , 2.14, 3.  ],
       [4.  ,  inf, 6.  ],
       [7.  , 8.  , 9.  ]], dtype=float32)

In [ ]:
from posixpath import join
#prompt: extraer el elemento i,j del array f con una funcion elem

def elem(A, i, j):

    ext = i * 3 + j
    return A[ext]


# Obtener el elemento con la posición
i = 2
j = 1
ele= elem(f, i, j)

print(f"su elemento de posición ({i}, {j}) es: {ele}")

In [38]:
# multiplicar x po una fila i_n y sumarlo a una fila i_m


mat[0,:] += 3*mat[1,:]
mat

array([[13., inf, 21.],
       [ 4., inf,  6.],
       [ 7.,  8.,  9.]], dtype=float32)

In [ ]:
# Multiplicar la fila por un 3


mat[2,:] *= 3
mat

array([[ 3.  ,  6.42,  9.  ],
       [ 7.  ,  8.  ,  9.  ],
       [12.  ,   inf, 18.  ]], dtype=float32)

In [39]:
# Intercambiar filas

mat[[1,2],:] = mat[[2,1],:]
mat

array([[13., inf, 21.],
       [ 7.,  8.,  9.],
       [ 4., inf,  6.]], dtype=float32)